//  Variables Color de bootstrap
// Bootstrap 

$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;
$black2: #04080f !default;

$blue: #4e73df !default;
$blue-cont-concr:#2274a5 !default;
$light-blue-1: #2a96a5 !default;
$light-blue-2: #54c6eb !default;
$light-blue-3: #2b9eb3 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #C70000 !default;
$orange: #fd7e14 !default;
$yellow: #f6c23e !default;
$yellow-cont: #fffd82 !default;
$green: #1CC88A !default;
$green2: #8fc93a !default;
$green-cont: #048a81 !default;
$green-cont-concr: #1CC88A !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;    


/*=========================================================================
                              Tema dela web                    
=========================================================================*/
/* SCSS RGB */
$red-salsa: rgba(249, 65, 68, 1);
$orange-red: rgba(243, 114, 44, 1);
$yellow-orange-color-wheel: rgba(248, 150, 30, 1);
$maize-crayola: rgba(249, 199, 79, 1);
$pistachio: rgba(144, 190, 109, 1);
$zomp: rgba(67, 170, 139, 1);
$cyber-grape: rgba(86, 61, 124, 1);



$primary: $cyber-grape;
$secondary: $pistachio;
$success:       $pistachio !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-600 !default;
$dark:          $gray-800 !default;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

// $font-primary:  'Bebas Neue', cursive;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// nav
$nav-color: $white;
$nav-hover-color: $primary;
$nav-bg: $secondary;